.post {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 10px;
}

.post-img {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  border: 10px solid #ffffff;
  box-shadow: 0 0 4px 4px #bfbfbf;
  border-radius: 10px;
}

.post-title {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.2;
  color: #000;
}

.post-text {
  font-size: 18px;
  color: #000;
}
