.Dropdown-root {
  position: relative;
  min-width: 150px;
  cursor: pointer;
  white-space: nowrap;
}

.Dropdown-control {
  padding: 8px 28px 8px 20px;
  background-color: #fff;
  font-size: 18px;
  color: #000;
  border-radius: 7px;
}

.Dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 4px;
  width: 20px;
  height: 20px;
  background-image: url("/images/dropdown-icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%) rotate(0);
  transform-origin: 50% 50%;
  transition: transform 0.2s;
}

.is-open .Dropdown-arrow {
  transform: translateY(-50%) rotateX(-180deg);
}

.Dropdown-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid #c7c7c7;
  overflow: hidden;
}

.Dropdown-title {
  background-color: grey;
  padding: 4px;
  text-align: center;
}

.Dropdown-option {
  padding: 8px 20px;
  font-size: 17px;
  color: #000;
}

.Dropdown-option-two {
  color: red;
  text-decoration: underline;
}

.Dropdown-option:hover {
  background-color: #addba8;
}

.Dropdown-option.is-selected {
  background-color: #dfdfdf;
}
